body {
    background-color: white;
}

.container {
    margin: 10px;
}

.amarelo {
    padding: 100px;
    margin: 20px;
    background-color: rgb(176, 206, 250);
    box-sizing: border-box;
    border-radius: 10px;
}

.alongar {
    padding-right: 1100px;
    padding-bottom: 200px;
}

.alongar2 {
    padding-right: 500px;
    padding-bottom: 200px;
}

.flexivel {
    display: flex;
}

.azul {
    padding: 100px;
    margin: 20px;
    background-color: white;
    box-sizing: border-box;
}
