body {
    background-color: white;
    
}

.container {
    max-width: 660px;
    margin: 0 auto;
}

.amarelo {
    padding: 100px;
    margin: 10px;
    background-color: rgb(210, 194, 69);
    box-sizing: border-box;
    border-radius: 10px;
}

.alongar {
    padding-right: 320px;
}

.flexivel {
    display: flex;
}

.azul {
    padding: 100px;
    margin: 10px;
    background-color: white;
    box-sizing: border-box;
}